<!DOCTYPE html>
<html>
<head>
  <title>Facebookshare</title>
  <%= stylesheet_link_tag    "facebookshare/application", media: "all" %>
  <%= javascript_include_tag "facebookshare/application" %>
  <%= csrf_meta_tags %>
</head>
<body>


<%= yield %>

</body>
</html>
